<div style="padding: 25px">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <div>
      <strong>Success!</strong>&nbsp;Successfully saved
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div>
      <p><strong>Error!</strong>&nbsp;Correct below issues</p>
      <hr />
      <ul>
        <li *ngFor="let message of messages">{{ message }}</li>
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div>
      <p><strong>Warning!</strong>&nbsp;Correct below issues</p>
      <hr />
      <ul>
        <li *ngFor="let message of messages">{{ message }}</li>
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <div>
      <p><strong>Information!</strong>&nbsp;Correct below issues</p>
      <hr />
      <ul>
        <li *ngFor="let message of messages">{{ message }}</li>
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>